.Container {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 20px;
}

.CardGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 2em;
  grid-auto-rows: 1fr;
}